.App {
  background-color: #F3F7FA;
}

.logo {
  display: flex;
  padding: 8vh 0;
  justify-content: center;
  height: 4rem;
}

.container {
  margin: 0 auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 20vw 55vw;
  gap: 2rem;
}

/* ---------- MEDIA ---------- */

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 95vw;
  }
}